* {
  background-color: black;
}

.nav-link.nav-hover {
  position: relative;
  transition: color 0.3s ease-in-out;
}

.nav-link.nav-hover::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link.nav-hover:hover {
  color: #fff;
}

.nav-link.nav-hover:hover::before {
  transform: scaleX(1);
}

.imagesection {
  height: 600px;
  width: 600px;
}

.col {
  height: 500px;
  width: 300px;
}

body {
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

#downloadResumeBtn {
  background-color: rgb(132, 10, 10);
  color: white;
  border-color: white;
  padding: 10px 20px;
  border-radius: 50px;
  transition: background-color 0.5s, color 0.1s;
}

#downloadResumeBtn:hover {
  background-color: white;
  color: white;
  border-color: white;
}

.section1 {
  padding-top: 200px;
  padding-left: 190px;
}
.section2 {
  padding-top: 100px;
  padding-right: 400px;
}
.container-fluid {
  text-align: center;
}

.abtimg {
  height: 600px;
  width: 400px;
}

.imageabt {
  height: 500px;
  width: 400px;
}

.jsimg {
  height: 200px;
  width: 300px;
  border-radius: 50px;
}

.skillsec {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  transition: transform 0.3s ease-in-out;
}

.skillsec:hover {
  transform: scale(1.1);
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

#about {
  background-color: black;
  color: #fff;
  padding: 100px 0;
}

#skills {
  background-color: black;
  color: #fff;
  padding: 50px 0;
  padding-top: 50px;
  margin-top: 350px;
}

.progress{
  width: 250px;
}

.abtimg {
  height: 550px;
  width: 400px;
}

#project {
  margin-top: 150px;
}

.btn-contact,
.btn-address {
  border: 1px solid transparent;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
  display: inline-block;
  text-align: left;
  font-size: 16px;
}

.btn-contact:hover,
.btn-address:hover {
  color: #fff;
  border-color: #fff;
}

.btn-contact i,
.btn-address i {
  margin-right: 10px;
}

#project {
  background-color: #333;
  color: white;
  padding: 50px 0;
}

.project1 {
  margin: auto;
}

.project1 h1 {
  font-size: 3rem;
}

.project1 h5 {
  margin-top: 20px;
  font-size: 1.5rem;
}

.skillsec {
  margin-top: 10px;
}

#contact {
  background-color: #10c634;
  color: white;
  padding: 50px 0;
}

.contact1 {
  margin: auto;
}

.contact1 h1 {
  font-size: 3rem;
}

.btn-contact {
  background-color:transparent;
  color: grey;
  border: solid;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btn-contact:hover {
  background-color: black;
  
}

#project {
  background-color: black;
  padding-top: -100px;
  margin-top: -50px;
}

#contact{
    background-color: transparent;
   
}

.social-buttons .btn {
    font-size: 24px;
  }
  
  .social-buttons .btn .icon {
    vertical-align: middle;
  }

.social-buttons .btn a {
    text-decoration: none;
    color: white;
}

.contactus{
  border: none;
  cursor: pointer;
}

.contactus:hover {
  background-color:rgb(58, 4, 4);
}

  
.btn{
    background-color:black;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color:black;
  }
   
 .buttonhome{
  font-size: 70px;
  text-decoration: none;
  color: ;
  vertical-align: middle;
 }

 .buttonhome{
  background-color:black;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.buttonhome:hover {
  background-color:black;
}

#btnhm{
  padding-left: 1100px;
}




